* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient( #F8FAFC,#CCF2F4, #A4EBF3);
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 20px;
  background: #9ef8fd;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  flex-direction: row;
  padding-left: 40px;
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  border-bottom: 3px solid black
}

.navbar .judul a {
  text-decoration: none;
  color: black;
}

.item a {
  text-decoration: none;
  color: black;
  margin: 15px;
}

.navbar .item a:hover {
  color: #00767e;
  transform: translate(3y);
}

.logo {
  gap: 10px;
  margin-left: auto;
}

.judul {
  margin-right: 18%;
  justify-self: center;
  font-size: larger;
}
.navbar span {
  color: #00767e;
  font-style: italic;
}

.hero {
  margin-top: 120px;
}

main .deskripsiH {
  font-size: 50px;
  font-weight: bolder;
}

.hero {
  text-align: center;
}
.hero span {
  font-weight: bolder;
  color: aqua;
}

.hero p {
  font-size: small;
  margin-top: 10px;
}

.logoHome {
  size: 20px;
  gap: 40px;
  align-items: center;
}

.tagAtas {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  margin: 7rem 40rem;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.4);
}

.aboutMe {
  width: 90%;
  max-width: 950px;
  margin: 50px auto;
  padding: 40px;
  background:#9ef8fd;
  border-radius: 40px;
  box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.aboutMe .foto img {
  border-radius: 75px;
}

.downloadCv {
  background-color: aqua;
  border-radius: 20px;
}

.getStarted {
  background-color: aqua;
  border-radius: 20px;
  margin: 20px 690px;
  padding: 12px;
  margin-bottom: 25rem;
  margin-bottom: 700px;
}

.getStarted a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.getStarted a:hover {
  color: white;
}

.mySkills {
  max-width: 60rem;
  margin: 70px 50px 50px 260px;
  padding: 30px 0px 30px 40px;
  background:#9ef8fd;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  flex-wrap: wrap;
}

.mySkills img {
  width: 50px;
  height: 50px;
  gap: 20px;
  margin: 20px;
}

.mySkills .deskSkills {
  background: linear-gradient( #c9fbff);
  border-radius: 10px;
  text-align: center;
  font-size: small;
  box-shadow: 0PX 7PX 8PX rgb(65, 65, 65) ;
}

.deskSkills:hover {
  transform: translateY(-20px);
  animation-delay: 20ms;
}

.myProject {
  background:#91f9ff;
  display: flex;
  box-shadow: 0PX 7PX 16PX #414141 ;
  margin: 80px 90px 0px 0px;
}

.myProject img {
  width: 200px;
  height: auto;
}

.myContact {
  background: #9ef8fd;
  padding: 50px;
  margin: 40px 20%;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  box-shadow: 2px 12px 20px #414141;
}

.myContact label {
  font-weight: bold;
}

.subject {
  padding: 5px;
  background-color: white;
  width:18rem;
  color: black;
  border-radius: 20px;
  box-shadow: 1px 2px 1px black;
  font-size: medium;
  font-weight: bold;
} 

.gmail {
  padding: 5px;
  background-color: white;
  width:18rem;
  color: black;
  border-radius: 20px;
  box-shadow: 1px 1px 1px black;
  font-size: medium;
  font-weight: bold;
} 

.msg {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 10px black;
}

.sendBttn {
  margin-top: 30px;
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.sendBttn:hover {
  background-color: cyan;
  color: black;
}

::placeholder {
  color: black;
  font-weight: 50;
  font-size: x-small;
}

footer {
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 1rem;
}