* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#heroID {
  scroll-margin-top: 40rem;
}

#aboutID {
  scroll-margin-top: 16rem;
}

#skillID {
  scroll-margin-top: 16rem;
}

#projectID {
  scroll-margin-top: 16rem;
}

#contactID {
  scroll-margin-top: 16rem;
}

body {
  background: #0A1A2F;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 20px;
  background: #0A1A2F;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  flex-direction: row;
  padding-left: 40px;
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 80px;
  border-bottom: 3px solid black;
  z-index: 1000;
}

.navbar .judul a {
  text-decoration: none;
  color: #C7CED6;
  text-shadow: 1px 0px 10px whitesmoke;
}

.item a {
  text-decoration: none;
  color: #C7CED6;
  margin: 15px;
}

.item a:hover {
  color: #27A8FF;
  transform: translateY(-5px);
  text-shadow: 0px 0px 5px #27A8FF;
}

.logo {
  gap: 10px;
  margin-left: auto;
}

.logo a {
  color: #C7CED6;
  padding: 7px;
}

.logo a:hover {
  color: #27A8FF;
}

.judul {
  margin-right: 18%;
  justify-self: center;
  font-size: larger;
}
.navbar span {
  color: #27A8FF;
  font-style: italic;
  text-shadow: 1px 0px 10px #27a8FF;
}

.hero {
  margin-top: 190px;
}

main .deskripsiH {
  color: #C7CED6;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 1px 20px 200px white;
}

.hero {
  text-align: center;
}
.hero span {
  font-weight: bolder;
  color: #27A8FF;
  text-shadow: 1px 0px 20px #27a8FF;
}

.hero p {
  font-size: small;
  margin-top: 10px;
}

.logoHome {
  margin-top: 20px;
}

.logoHome a {
  color: #1E90FF;
  size: 20px;
  gap: 40px;
  padding: 8px;
  align-items: center;
}

.logoHome a:hover {
  color: #C7CED6;
}

.tagAtas {
  text-align: center;
  background-color: transparent;
  outline: 4px solid #081f3e;
  color: #C7CED6;
  font-size: larger;
  border-radius: 20px;
  margin: 7rem 40rem;
  padding: 5px 0px;
  text-shadow: 0px 0px 8px white;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.4);
}

.aboutMe {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 950px;
  margin: 50px auto;
  padding: 40px;
  background: #081f3e;
  color: #C7CED6;
  border-radius: 40px;
  box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.4);
  gap: 40px;
}

.deskripsi {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  flex: 1;
}
  
.foto img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
  outline: 2px solid #27a8FF;
  box-shadow: 0px 0px 20px #27A8FF;
}

.downloadCv {
  background-color: #1E90FF;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 31rem;
}

.downloadCv a {
  color: white;
  text-decoration: none;
}

.deskripsi span {
  color: #27A8FF;
  text-shadow: 0px 0px 10px #27A8FF;
  font-style: italic;
  text-decoration: underline;
}

.downloadCv:hover {
  box-shadow: 0px 0px 10px #1E90FF;
  transform: translateY(-2px);
}

.getStarted {
  background-color: #27A8FF;
  border-radius: 20px;
  margin: 20px 690px;
  padding: 12px;
  margin-bottom: 20rem;
}

.getStarted:hover {
  box-shadow: 1px 1px 20px #27A8FF;
  transform: translateY(-3px);
}

.getStarted a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.mySkills {
  max-width: 60rem;
  margin: 70px 50px 50px 260px;
  padding: 30px 0px 30px 40px;
  background:#081f3e;
  color: #C7CED6;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 15px 8px #00000066;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  flex-wrap: wrap;
}

.mySkills img {
  width: 50px;
  height: 50px;
  gap: 20px;
  margin: 20px;
}

.mySkills .deskSkills {
  background: transparent;
  text-align: center;
  font-size: small;
  outline: 3px solid #27A8FF;
  border-radius: 10px;
}

.deskSkills:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px #27A8FF; 
}

.myProject {
  background:transparent;
  display: flex;
  margin: 20px;
  margin-right: 40px;
  text-align: center;
  justify-content: center;
}

.isiProject {
  background-color: #071b36;
  border-radius: 10px;
  outline: 4px solid #081f3e;
  color: #C7CED6;
  margin: 73px;
  justify-items: flex-start;
  text-align: justify;
}

.isiProject:hover {
  transform: translateY(-15px);
  box-shadow: 0px 0px 25px #12488e;
}

.myProject img {
  align-self: center; 
  width: 348px;
  height: 200px;
}

.projectBttn {
  background-color: #27A8FF;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  margin-top: 10px;
  margin-left: 10PX;
}

.projectBttn a {
  color: white;
  text-decoration: none;
  font-size: small;
  text-shadow: 0px 0px 8px white;
}

.projectBttn:hover {
  box-shadow: 0px 0px 10px #27a8FF;
}


.myContact {
  background: #081f3e;
  padding: 50px;
  margin: 40px 25%;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  box-shadow: 2px 12px 20px #00000066;
}

.myContact label {
  font-weight: bold;
  color: #C7CED6;
  text-shadow: 0px 0px 12px #C7CED6;
}

.subject {
  padding: 5px;
  background-color: white;
  width:18rem;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 2px 1px black;
  font-size: smaller;
} 

.gmail {
  padding: 5px;
  background-color: white;
  width:18rem;
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  font-size: smaller;
} 

.msg {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 10px black;
  width: 30rem;
  height: 7rem;
}

.msg::placeholder {
  padding: 5px;
}

.sendBttn {
  margin-top: 30px;
  background-color: #27A8FF;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.sendBttn:hover {
  box-shadow: 0px 0px 10px #27A8FF;
  transform: translateY(-3px);
}

::placeholder {
  color: black;
  font-weight: 50;
  font-size: x-small;
}

footer {
  color: #C7CED6 ;
  justify-content: center;
  text-align: center;
  background-color: #081f3e;
  padding: 1rem;
  margin-top: 10rem;
}


@media (max-width: 768px) {

  #heroID {
  scroll-margin-top: 40rem;
}

#aboutID {
  scroll-margin-top: 13rem;
}

#skillID {
  scroll-margin-top: 13rem;
}

#projectID {
  scroll-margin-top: 13rem;
}

#contactID {
  scroll-margin-top: 13rem;
}

  .navbar {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 1px;
  }

  .logo a {
    margin-right: 4.2rem;
  }

  .judul {
    margin-right: 0;
  }

  .item a {
    margin: 10px;
    font-size: 14px;
  }

  .hero {
    margin-top: 40px;
    padding: 0 10px;
  }

  .deskripsiH {
    font-size: 32px;
  }

  .tagAtas {
    margin: 1rem auto;
    font-size: medium;
    width: 80%;
    margin-top: 15rem;
    margin-bottom: 50px;
  }

  .aboutMe {
    flex-direction: column;
    text-align: center;
    padding:35px;
  }

  .foto img {
    width: 130px;
    height: 130px;
  }

  .deskripsi span {
    font-size: medium;
  }

  .deskripsi h2 {
    font-size: medium;
  }

  .deskripsi p {
    font-size: smaller;
  }

  .downloadCv {
    margin: 0;
    align-self: center;
  }

  .getStarted {
    margin: 30px auto;
    width: 60%;
    text-align: center;
    padding: 12px;
  }


  .mySkills {
    margin: 30px auto;
    gap: 40px;
    padding: 20px;
    border-radius: 0%;
  }


  .myProject {
    margin: 50px;
    flex-direction: column;
  }

  .isiProject {
    margin: 20px;
    text-align: center;
    width: 90%;
  }

  .isiProject img {
    width: 250px;
    height: 100px;
    border-radius: 10px;
  }

  .myContact {
    margin: 20px;
    width: auto;
  }

  .subject {
    width: 13rem;
  }

  .gmail {
    width: 13rem;
  }

  .msg {
    width: 16rem;
    height: 5rem;
  }
}
